body {
    background-image: url('../images/background.jpg');
    color: white;
}

.full-screen {
    display: none;
}

.social-link {
    width: 80vh;
}

.mobile {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    height: 100%;
    width: 100%;
    position: fixed;
}

@media (min-width: 800px) {

.mbl {
    display: none;
}

.mobile {
    display: none;
}

.github {
    position: absolute;
    top: 0;
    right: 0;
    height: 15vh;
  }

  h2 {
      text-align: center;
  }

  .link {
      text-align: center;
      align-content: center;
      margin-left: 0;
      margin-right: 0;
  }

#map {
    height: 250px;
    width: 50vw;
}

.container {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.instagram {
    height: 33vh;
}

}